*{
    margin: 0;
    padding: 0;
}

header{
    flex: content;
    background-color: gray;
}

header nav{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header img {
    max-width: 100px; 
    height: auto;
}
header .lg{ /* Contenedor del logo */
    flex-shrink: 0; /* No se encoge */
}